<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" name="generator" />
  <meta charset="utf-8" />

  <title>Ayaka Matsui | Resume</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" /><!-- jQuery -->

  <script src="./js/jquery.min.js" type="text/javascript"></script><!-- Bootstrap -->
  <link href="./bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
  <script src="./bootstrap/js/bootstrap.min.js" type="text/javascript"></script><!-- Glyphicons -->
  <link href="./css/glyphicons.css" media="screen" rel="stylesheet" type="text/css" /><!-- Plugins -->

  <script src="./js/jquery.easing.1.3.js" type="text/javascript"></script>
  <script src="./js/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="./js/jquery.ba-resize.min.js" type="text/javascript"></script>
  <link href="./css/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="./js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
  <script src="./js/klass.min.js" type="text/javascript"></script>
  <script src="./js/code.photoswipe.jquery-3.0.4.min.js" type="text/javascript"></script>
  <link href="./css/photoswipe.css" media="screen" rel="stylesheet" type="text/css" /><!-- Theme -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Droid+Sans|Yanone+Kaffeesatz|Droid+Serif|Ubuntu|Lobster|Francois+One|Arvo|Changa+One|Rokkitt|Nunito|Bitter|Merriweather|Raleway|Pacifico|Josefin+Sans|Questrial|Cantarell|Norican|Vollkorn|Quicksand|Limelight|Cantata+One|Bree+Serif|Oleo+Script|Playfair+Display|Quattrocento+Sans|Berkshire+Swash|Passion+One|Cuprum' rel='stylesheet' type='text/css' />
  <link href="./style.css" media="screen" rel="stylesheet" type="text/css" /><!-- Skin -->
  <link href="./css/skin.less" media="screen" rel="stylesheet/less" type="text/css" /><!-- LESS.js -->

  <script src="./js/less-1.3.3.min.js" type="text/javascript"></script>
  <script src="./js/scripts.js" type="text/javascript"></script><!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="./css/ie.css" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  <!-- PRINT CSS -->
  <link href="./css/print.css" media="print" rel="stylesheet" type="text/css" />
</head>

<body class="backgrounded" data-spy="scroll" data-target=".sidebar-nav">
  <div class="navbar navbar-inverse navbar-fixed-top visible-phone noprint" id="phone-navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"></a> <a class="brand" href="#">Ayaka Matsui</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a class="scroller" href="#about-me">About me</a>
            </li>

            <li>
              <a class="scroller" href="#personal-information">Personal Info</a>
            </li>

            <li>
              <a class="scroller" href="#employment">Employment</a>
            </li>

            <li>
              <a class="scroller" href="#education">Education</a>
            </li>

            <li>
              <a class="scroller" href="#skills">Skills</a>
            </li>

            <li>
              <a class="scroller" href="#hobbies">Hobbies</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/#phone-navbar -->

  <div class="container">
    <div class="row" id="content">
      <!-- If you want the sidebar placed on the left, place it just after this and change the sbright class by sbleft -->

      <div class="span3 sbleft noprint" id="sidebar">
        <div class="sidebar-nav equal hidden-phone">
          <ul class="nav nav-list affix" id="resumenav">
            <li>
              <a class="scroller" href="#about-me">About me</a>
            </li>

            <li>
              <a class="scroller" href="#personal-information">Personal Info</a>
            </li>

            <li>
              <a class="scroller" href="#employment">Employment</a>
            </li>

            <li>
              <a class="scroller" href="#education">Education</a>
            </li>

            <li>
              <a class="scroller" href="#skills">Skills</a>
            </li>

            <li>
              <a class="scroller" href="#hobbies">Hobbies</a>
            </li>
          </ul>
        </div><!--/sidebar-nav -->
      </div><!--/span3 -->
      <!-- MAIN CONTENT -->

      <div class="span9 equal" id="main-content">
        <div class="tools noprint visible-desktop">
          <a class="tips glyphicons print" data-placement="bottom" href="javascript:if(window.print)window.print()" title="Print"></a> <a class="tips glyphicons file_import" data-placement="bottom" href="#" title="Download"></a>
        </div>

        <div class="section first-section" id="about-me">
          <div class="row author">
            <div class="span3"><img alt="Ayaka Matsui" class="img-rounded" src="./images/ayaka_matsui.png" style="border: 1px solid #e3e3e3;" /></div>

            <div class="span6">
              <h1>Ayaka Matsui</h1><br />

              <h2 class="primary-color">Japan | International Affairs</h2>
            </div>
          </div>

          <div class="well">
            <h3>I am an Associate @ <a href="http://rakuten.co.jp/" target="_new">Rakuten, Inc.</a></h3>

            <p class="lead">Graduated of Boston University - Boston, MA, USA<br />
            <em>Bachelor of Arts: International Relations</em></p>
          </div>

          <div class="social-media noprint">
            <h5>Follow me</h5>

            <div>
              <div class="tips icon-btn" data-placement="bottom" title="Facebook">
                <a class="glyphicons white facebook" href="https://www.facebook.com/ayaka.matsui.77" target="_new"><i></i></a>
              </div>

              <div class="tips icon-btn" data-placement="bottom" title="Linkedin">
                <a class="glyphicons white linked_in" href="https://jp.linkedin.com/pub/ayaka-matsui/31/78a/712" target="_new"><i></i></a>
              </div>
            </div>
          </div>
        </div><!--/section-->

        <div class="section" id="personal-information">
          <h2 class="section-title">Personal Information<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <div class="row">
            <div class="infoline span9">
              <div class="row">
                <div class="span2 muted">
                  Address
                </div>

                <div class="span7">
                  <table>
                    <tbody>
                      <tr>
                        <td><img src="https://maps.googleapis.com/maps/api/staticmap?size=115x115&amp;maptype=roadmap&amp;markers=color:red|Sugamo+1-Chome+Toshima-ku+Tokyo+170-0002+Japan%20&amp;sensor=false" /></td>

                        <td style="vertical-align:top; padding-left:10px;">Toho Grand Building, Ryozan Park<br />
                        9-1-Room 311, Sugamo 1-Chome<br />
                        Toshima-ku, Tokyo 170-0002<br />
                        Japan</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="infoline span9">
              <div class="row">
                <div class="span2 muted">
                  Email
                </div>

                <div class="span7">
                  ayaka.mts@gmail.com
                </div>
              </div>
            </div>

            <div class="infoline span9">
              <div class="row">
                <div class="span2 muted">
                  Phone
                </div>

                <div class="span7">
                  080 5864 0621
                </div>
              </div>
            </div>
          </div>
        </div><!--/section-->

        <div class="section" id="employment">
          <h2 class="section-title">Employment<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-item-date">
                2013 - present
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position1" data-toggle="collapse" style="width:100%;">Associate @ <strong>Rakuten</strong> <span style="float:right;"><img src="images/rakuten.png" style="border: 1px solid #E3E3E3;" /></span></h3>

                <div class="collapse in" id="position1">
                  <p><small class="muted">from 2013 to present day</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <p style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                  <p><a class="noprint" href="http://www.rakuten.co.jp" title="">→ View website</a></p>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                08/2012 - 12/2012
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position2" data-toggle="collapse" style="width:100%;">Foreign Policy Research Intern <span style="float:right;"><img src="images/CEFC_logo_vertical.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>China Energy Fund Committee</strong></h3>

                <div class="collapse" id="position2">
                  <p><small class="muted">from August 2012 to December 2012</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Conduct research on the Sino-Japanese relations and political situation in East Asia.</li>

                    <li>Translate publications/articles from Japanese to English.</li>

                    <li>Create reports on current foreign affairs focused on East Asia region.</li>

                    <li>Present research works among researchers and professors at Shanghai Jiaotong University.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                08/2011 - 08/2012
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position3" data-toggle="collapse" style="width:100%;">Interpreter/Translator <span style="float:right;"><img src="images/aanc.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>Asian-American National Committee, Inc.</strong></h3>

                <div class="collapse" id="position3">
                  <p><small class="muted">from August 2011 to August 2012</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Translate between Japanese and English.</li>

                    <li>Facilitate effective communication between clients in medical and social services appointments.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                09/2010 - 05/2012
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position4" data-toggle="collapse" style="width:100%;">Language Instructor <span style="float:right;"><img src="images/BU.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>Boston University Education Resource Center</strong></h3>

                <div class="collapse" id="position4">
                  <p><small class="muted">from September 2012 to May 2012</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Educate graduate and undergraduate students in weekly sessions.</li>

                    <li>Coordinate conversational Japanese classes by incorporating culture and current issues.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                08/2011 - 11/2011
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position5" data-toggle="collapse" style="width:100%;">Career Ambassador <span style="float:right;"><img src="images/BU.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>Boston University Center for Career Development</strong></h3>

                <div class="collapse" id="position5">
                  <p><small class="muted">from August 2011 to November 2011</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Served as an ambassador for the CCD</li>

                    <li>Presented workshops as requested by outside groups</li>

                    <li>Supported office projects as assigned</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                08/2011 - 10/2011
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position6" data-toggle="collapse" style="width:100%;">Consultant <span style="float:right;"><img src="images/global_rescue.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>Global Rescue LLC</strong></h3>

                <div class="collapse" id="position6">
                  <p><small class="muted">from August 2011 to October 2011</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Researched and collected security intelligence on assigned countries.</li>

                    <li>Consolidated reports and analyzed security situations for specific regions.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                06/2010 - 08/2010
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position7" data-toggle="collapse" style="width:100%;">Intern<br />
                @ <strong>Embassy of Japan</strong></h3>

                <div class="collapse" id="position7">
                  <p><small class="muted">from June 2019 to August 2010</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Collaborated with the Embassy personnel and participated in its educational programs.</li>

                    <li>Researched and wrote summaries on given cultural topics.</li>

                    <li>Answered inqueries on the phone and emails from American public.</li>

                    <li>Conducted office administrative tasks: maintain and update event/sutvey data on excel and access.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->

            <div class="timeline-item">
              <div class="timeline-item-date">
                08/2011 - 10/2011
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#position8" data-toggle="collapse" style="width:100%;">Team Adviser/International Diplomacy Program <span style="float:right;"><img src="images/NSLC.png" style="border: 1px solid #E3E3E3; width:100px;" /></span><br />
                @ <strong>National Student Leadership Conference</strong></h3>

                <div class="collapse" id="position8">
                  <p><small class="muted">from June 2009 to August 2009</small></p>

                  <h4 class="media-heading primary-color" style="display:none;">Lorem ipsum dolor sit amet</h4>

                  <ul>
                    <li>Research and create teaching materials, and compile data for presentations.</li>

                    <li>Teach high school upper classmen about leadership skills and international relations/foreign affairs.</li>

                    <li>Advice and supervise students to engage in leadership activities.</li>
                  </ul>
                </div>
              </div>
            </div><!--/timeline-item-->
          </div><!--/timeline -->
        </div><!--/section-->

        <div class="section" id="education">
          <h2 class="section-title">Education<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-item-date">
                2008 - 2012
              </div>

              <div class="timeline-item-trigger"></div>

              <div class="timeline-arrow"></div>

              <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-target="#education1" data-toggle="collapse" style="width:100%;">Boston University <span style="float:right;"><img src="images/BU.png" style="border: 1px solid #E3E3E3; width:100px;" /></span></h3>

                <div class="collapse in" id="education1">
                  <p><small class="muted">from 2008 to 2012</small></p>

                  <h4 class="media-heading primary-color">Bachelor of Arts: International Relations</h4>
                </div>
              </div>
            </div><!--/timeline-item-->
          </div><!--/timeline -->
        </div><!--/section-->

        <div class="section skills" id="skills">
          <h2 class="section-title">Skills<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <h3>Languages</h3>

          <div class="row">
            <div class="span2">
              Japanese
            </div>

            <div class="span3">
              <span class="printonly">Expert</span>

              <div class="progress">
                <div class="bar" style="width: 100%;"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              English
            </div>

            <div class="span3">
              <span class="printonly">Expert</span>

              <div class="progress">
                <div class="bar" style="width: 100%;"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              Chinese
            </div>

            <div class="span3">
              <span class="printonly">Basic</span>

              <div class="progress">
                <div class="bar" style="width: 40%;"></div>
              </div>
            </div>
          </div>
          <hr />

          <h3>Expertise</h3>

          <div class="row">
            <div class="span2">
              Topics
            </div>

            <div class="span7">
              <span class="label">Research</span> <span class="label">Sales</span> <span class="label">International Relations</span> <span class="label">MS Office</span> <span class="label">Translation</span> <span class="label">Public Speaking</span> <span class="label">Teaching</span> <span class="label">Event Planning</span>
            </div>
          </div>
        </div><!--/section-->

        <div class="section hobbies" id="hobbies">
          <h2 class="section-title">Hobbies<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <div class="row">
            <div class="span9">
              <span class="label glyphicons white piano">Piano</span> <span class="label glyphicons white pool">Swimming</span> <span class="label glyphicons white bicycle">Bicycling</span> <span class="label glyphicons white globe">Traveling</span> <span class="label glyphicons white cake">Cooking</span>
            </div>
          </div>
        </div><!--/section-->

        <div class="section clearfix noprint" id="portfolio" style="display:none;">
          <h2 class="section-title">Portfolio<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <ul class="nav nav-pills" id="portfolio-filters">
            <li class="active">
              <a data-filter="*" href="#">All</a>
            </li>

            <li>
              <a data-filter=".portfolio-type1" href="#">Type 1</a>
            </li>

            <li>
              <a data-filter=".portfolio-type2" href="#">Type 2</a>
            </li>

            <li>
              <a data-filter=".portfolio-type3" href="#">Type 3</a>
            </li>
          </ul><!-- Featured Portfolio items -->

          <div class="row" id="portfolio-items">
            <div class="span3 portfolioitem portfolio-type1">
              <img alt="" src="./images/thumb01.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>Lorem ipsum</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/01.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-1" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->

            <div class="span3 portfolioitem portfolio-type2">
              <img alt="" src="./images/thumb02.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>Cras gravida fringilla</h3>

                <p>Donec eros magna, blandit eu tempus a, ornare quis nulla.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/02.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-2" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->

            <div class="span3 portfolioitem portfolio-type3">
              <img alt="" src="./images/thumb03.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>Nulla diam lacus</h3>

                <p>Curabitur risus lacus, congue eget condimentum id, feugiat et nisl.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/03.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-3" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->

            <div class="span3 portfolioitem portfolio-type1">
              <img alt="" src="./images/thumb04.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>Proin quam lacus</h3>

                <p>Proin quam lacus, dapibus non sodales ac, pharetra et urna.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/04.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-4" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->

            <div class="span3 portfolioitem portfolio-type2">
              <img alt="" src="./images/thumb05.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>Tellus ligula</h3>

                <p>Cras vestibulum, mi aliquam molestie tincidunt, tellus ligula tempor neque.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/05.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-5" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->

            <div class="span3 portfolioitem portfolio-type1">
              <img alt="" src="./images/thumb07.jpg" />

              <div class="portfolioitem-hoverinfo">
                <h3>In sed eleifend orci</h3>

                <p>Morbi ultrices ullamcorper magna, quis placerat libero pretium at.</p>

                <div class="portfolioitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="portfolioimages" data-placement="bottom" href="./images/07.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#portfolioitem-6" title="View Project"></a>
                </div>
              </div>
            </div><!--/portfolioitem-->
          </div><!--/row-->
          <!-- /Featured Portfolio Items -->

          <div class="row" id="full-portfolio-items">
            <div class="span9">
              <a class="btn btn-primary hidden" href="#" id="portfolio-back">← Back to Portfolio List</a> <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-1">
                <img alt="" src="./images/01.jpg" />

                <h2 class="primary-color">Lorem ipsum</h2>

                <h3>Lectus tristique scelerisque</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-6">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-2">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
              <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-2">
                <img alt="" src="./images/02.jpg" />

                <h2 class="primary-color">Cras gravida fringilla</h2>

                <h3>Accumsan dolor ornare</h3>

                <p>Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-1">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-3">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
              <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-3">
                <img alt="" src="./images/03.jpg" />

                <h2 class="primary-color">Nulla diam lacus</h2>

                <h3>Etiam sagittis, felis id</h3>

                <p>Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor.</p>

                <p>Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-2">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-4">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
              <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-4">
                <img alt="" src="./images/04.jpg" />

                <h2 class="primary-color">Proin quam lacus</h2>

                <h3>Subtitle</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-3">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-5">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
              <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-5">
                <img alt="" src="./images/05.jpg" />

                <h2 class="primary-color">Tellus ligula</h2>

                <h3>ullam pharetra, metus id semper fringilla</h3>

                <p>Praesent suscipit pellentesque est, non blandit ante feugiat in. Aliquam erat volutpat. Donec lorem sem, vestibulum ac vehicula in, tempus sit amet sem. Curabitur nec ante risus. Integer libero nunc, euismod in mattis ac, auctor in arcu. Nullam pharetra, metus id semper fringilla, est lorem euismod lectus, at dignissim elit turpis et dolor. Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-4">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-6">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
              <!-- This is a Portfolio item -->

              <div class="portfolioitem-content hidden" id="portfolioitem-6">
                <img alt="" src="./images/07.jpg" />

                <h2 class="primary-color">In sed eleifend orci</h2>

                <h3>Enim mauris rhoncus elit</h3>

                <p>Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.</p>

                <p>Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#portfolioitem-5">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#portfolioitem-1">Next →</a>
                  </li>
                </ul>
              </div><!-- /Portfolio item -->
            </div><!--/span9-->
          </div><!--/row-->
        </div><!--/section-->

        <div class="section noprint" id="blog" style="display:none;">
          <h2 class="section-title">Blog<a class="top visible-phone" href="#phone-navbar"></a></h2><!-- Featured Blog items -->

          <div class="row" id="blog-items">
            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog01.jpg" />

              <h3>Lorem ipsum</h3>

              <div class="blogitem-date">
                <span class="month">JUN</span> <span class="day">15</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog01.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-1" title="View Post"></a>
                </div>
              </div>
            </div>

            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog02.jpg" />

              <h3>Cras gravida fringilla</h3>

              <div class="blogitem-date">
                <span class="month">MAY</span> <span class="day">16</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Praesent congue tortor vel quam scelerisque in suscipit elit malesuada.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog02.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-2" title="View Post"></a>
                </div>
              </div>
            </div>

            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog03.jpg" />

              <h3>Nulla diam lacus</h3>

              <div class="blogitem-date">
                <span class="month">APR</span> <span class="day">22</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Etiam eleifend sem ornare lacus ullamcorper interdum.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog03.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-3" title="View Post"></a>
                </div>
              </div>
            </div>

            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog04.jpg" />

              <h3>Proin quam lacus</h3>

              <div class="blogitem-date">
                <span class="month">MAR</span> <span class="day">27</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Proin tincidunt diam ac lectus tristique scelerisque.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog04.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-4" title="View Post"></a>
                </div>
              </div>
            </div>

            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog05.jpg" />

              <h3>Tellus ligula</h3>

              <div class="blogitem-date">
                <span class="month">FEB</span> <span class="day">13</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog05.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-5" title="View Post"></a>
                </div>
              </div>
            </div>

            <div class="span3 blogitem">
              <img alt="" src="./images/thumbblog06.jpg" />

              <h3>In sed eleifend orci</h3>

              <div class="blogitem-date">
                <span class="month">JAN</span> <span class="day">02</span>
              </div>

              <div class="blogitem-hoverinfo">
                <p>Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie.</p>

                <div class="blogitem-actions">
                  <a class="tips img-circle lightbox" data-fancybox-group="blogimages" data-placement="bottom" href="./images/blog06.jpg" title="Preview image"></a> <a class="tips more-info img-circle" data-placement="bottom" href="#blogitem-6" title="View Post"></a>
                </div>
              </div>
            </div>
          </div><!--/row-->
          <!-- /Featured Blog items -->

          <div class="row" id="full-blog-items">
            <div class="span9">
              <a class="btn btn-primary hidden" href="#" id="blog-back">← Back to Blog List</a> <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-1">
                <img alt="" src="./images/blog01.jpg" />

                <h2 class="primary-color">Lorem ipsum</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    June 15, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Lorem ipsum</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-6">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-2">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
              <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-2">
                <img alt="" src="./images/blog02.jpg" />

                <h2 class="primary-color">Cras gravida fringilla</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    May 16, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Accumsan dolor ornare</h3>

                <p>Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-1">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-3">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
              <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-3">
                <img alt="" src="./images/blog03.jpg" />

                <h2 class="primary-color">Nulla diam lacus</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    April 22, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Etiam sagittis, felis id</h3>

                <p>Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor.</p>

                <p>Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-2">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-4">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
              <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-4">
                <img alt="" src="./images/blog04.jpg" />

                <h2 class="primary-color">Proin quam lacus</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    March 27, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Proin tincidunt diam ac lectus tristique scelerisque</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-3">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-5">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
              <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-5">
                <img alt="" src="./images/blog05.jpg" />

                <h2 class="primary-color">In sed eleifend orci</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    February 13, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Enim mauris rhoncus elit</h3>

                <p>Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.</p>

                <p>Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-4">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-6">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
              <!-- This is a blog item -->

              <div class="blogitem-content hidden" id="blogitem-6">
                <img alt="" src="./images/blog06.jpg" />

                <h2 class="primary-color">In sed eleifend orci</h2>

                <div class="blogmeta muted">
                  <div>
                    Ayaka Matsui
                  </div>

                  <div>
                    January 2nd, 2012
                  </div>

                  <div>
                    Category
                  </div>

                  <div>
                    Lorem, Ipsum, Dolor, Sit amet
                  </div>
                </div>

                <h3>Consectetur adipiscing elit</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>

                <ul class="pager">
                  <li class="previous">
                    <a class="" href="#blogitem-5">← Previous</a>
                  </li>

                  <li class="next">
                    <a class="" href="#blogitem-1">Next →</a>
                  </li>
                </ul>
              </div><!-- / Blog item -->
            </div><!--/span9-->
          </div><!--/row-->
        </div><!--/section-->

        <div class="section noprint" id="contact" style="display:none;">
          <h2 class="section-title">Contact<a class="top visible-phone" href="#phone-navbar"></a></h2>

          <div class="alert alert-info">
            <button class="close" data-dismiss="alert" type="button">×</button> Make sure to fill all the fields with correct values before sending your email!
          </div>

          <form action="#contact" class="form-horizontal" method="post">
            <fieldset>
              <legend>Send me a message using the form below</legend>

              <div class="control-group">
                <label class="control-label" for="form-subject">Subject</label>

                <div class="controls">
                  <div class="input-append">
                    <input class="input-xlarge" id="form-subject" name="subject" placeholder="Email Subject" type="text" value="" />
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="form-message">Message</label>

                <div class="controls">
                  <div class="input-append">
                    <textarea class="input-xlarge" id="form-message" name="message" placeholder="Your message" rows="6"></textarea>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary input-medium" name="submit" type="submit">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div><!--/section-->
      </div><!--/span9-->
      <!-- END OF THE MAIN CONTENT ==

                </div><!==/row-->
    </div><!--/.container-->
  </div>
</body>
</html>
